<h2>How to make: <%= @recipe.name %></h2>

<a href="/recipes/<%= @recipe.id %>/edit">All Recipes</a><br><br>

<label for="name">Recipe: <%= @recipe.name %></label><br><br>
<label for="ingredients">Ingredients: <%= @recipe.ingredients %></label><br><br>
<label for="cook time">Cook Time: <%= @recipe.cook_time %></label><br><br>

Update <a href="/recipes/<%= @recipe.id %>/edit"><%= @recipe.name %></a><br>

<form action="/recipes/<%= @recipe.id %>/delete" method="POST" >
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
